.profile-main {
    background-color: #f0f2f5 !important
}

.cover-img {
    width: 100%;
    /* height: 50vh; */
    border-radius: 0 0 15px 15px;
    margin: auto auto
}

.edit-menu {
    position: absolute;
    top: 50px;
    right: 10px;
    box-shadow: 6px 7px 13px grey;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 10px;
    width: 195px
}

.profile-top {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    background-color: #fff
}

.profile-div {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px
}

.profile-pic {
    /* height: 190px; */
    width: 190px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: -70px;
    cursor: pointer
}

.profile-full-div {
    display: flex;
    align-items: center
}

.extras-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0
}

.profile-div-last {
    display: flex;
    align-items: center;
    color:#65676b ;
}

.profile-div-last .icons {
    margin-top: 4px;
    margin-left: 2px;
    font-size: 15px
}

.s div {
    padding: 12px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
}

.s div:hover {
    background-color: #d5d6d6
}

.profile-end {
    display: flex;
    align-items: flex-end
}

.profile-menus {
    position: relative;
    padding: 8px 10px;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
}

.profile-menus:hover {
    background-color: #d5d6d6
}

.profile-end button {
    cursor: pointer;
    display: flex;
    padding: 10px 15px;
    margin: 0 7px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    border: none
}

.button-blue:hover {
    background: #1864c2
}

.button-blue {
    color: #fff;
    background: #1b74e4
}

.button-ash:hover {
    background-color: #d5d6d6
}

.icon-img {
    color: #fff;
    margin-right: 4px
}

.icon-pen {
    color: #000;
    margin-right: 8px
}

.profile-lower {
    padding: 0 20px
}

.profile-title h2 {
    margin-top: -68px;
    font-size: 37px
}

.profile-title p {
    cursor: pointer;
    font-weight: 500;
    font-size: 1.0625rem;
    color: #65676b
}

.profile-title p:hover {
    text-decoration: underline
}

.s a{
    text-decoration: none;
    color: #65676b;
}

.s .active{
    color: #1776f1;
}


.profile-title {
    margin-left: 10px
}

.profile-main-div {
    background-color: #f0f2f5 !important;
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}

.profile-fast-div {
    flex-basis: 40%;
    padding: 0 7px
}

.profile-last-div {
    flex-basis: 58%;
    padding: 0 7px
}

.post-top-flex {
    display: flex;
    align-items: center;
    justify-content: space-around
}

.grid {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px
}

.profile-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px
}

.profile-post p {
    font-size: 21px;
    font-weight: 700
}

.profile-post div button {
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f2f5;
    font-weight: 600;
    margin: 0 5px;
    border-radius: 8px;
    border: none
}

.profile-post div button:hover {
    background-color: #d5d7d9
}

.grids-flex {
    display: flex;
    justify-content: space-around
}

.grids-flex div {
    border-radius: 7px;
    padding: 10px 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer
}

.grids-flex div:hover {
    background: #d5d6d6
}

.normal {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yy/r/_tAeFyh7CkC.png?_nc_eui2=AeHgInaoPCDcWDHS3XK27uLExJEH_vnQqtzEkQf--dCq3C3iqnXahwGtindOOy2h77bLHRvmGZWXe0k93rEPUGfR);
    background-position: 0 -512px;
    background-size: auto;
    color: #1b74e4;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-repeat: no-repeat;
    display: inline-block
}

.grids-icon {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yy/r/_tAeFyh7CkC.png?_nc_eui2=AeHgInaoPCDcWDHS3XK27uLExJEH_vnQqtzEkQf--dCq3C3iqnXahwGtindOOy2h77bLHRvmGZWXe0k93rEPUGfR);
    background-position: 0 -444px;
    background-size: auto;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-repeat: no-repeat;
    display: inline-block
}

.filter {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yy/r/_tAeFyh7CkC.png?_nc_eui2=AeHgInaoPCDcWDHS3XK27uLExJEH_vnQqtzEkQf--dCq3C3iqnXahwGtindOOy2h77bLHRvmGZWXe0k93rEPUGfR);
    background-position: 0 -427px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block
}

.four {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yy/r/_tAeFyh7CkC.png?_nc_eui2=AeHgInaoPCDcWDHS3XK27uLExJEH_vnQqtzEkQf--dCq3C3iqnXahwGtindOOy2h77bLHRvmGZWXe0k93rEPUGfR);
    background-position: 0 -580px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block
}

.grids-flex-fast {
    color: #1776f1
}

.profiles-div-fast {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px
}

.intro {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 700
}

.bio-desc {
    text-align: center
}

.bio-div {
    margin: 13px 0;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    padding: 8px 0;
    border-radius: 10px;
    background-color: #e6e8eb;
    text-align: center
}

.bio-div:hover {
    background-color: #e6e6e6
}

.bios {
    display: flex;
    align-items: center;
    margin: 12px 8px
}

.bios .new {
    font-size: 17px;
    font-weight: 400;
    color: #0d0d0d
}

.new span {
    font-weight: 600;
    color: #050505;
    cursor: pointer
}

.new span:hover {
    text-decoration: underline
}

.bio-icon-img {
    height: 16px;
    padding-right: 10px
}

.others{
    display: flex;
}

@media screen and (max-width:1235px) {
    .cover-div {
        width: 90%;
        margin: auto
    }
}

@media screen and (max-width:915px) {
    .profile-div {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    .center {
        flex-direction: column
    }

    .profile-title {
        margin-top: 65px;
        margin-bottom: 10px;
        margin-left: 10px
    }

    .profile-title p {
        text-align: center
    }

    .profile-main-div {
        padding: 15px 10px
    }
}

@media screen and (max-width:765px) {
    .profile-main-div {
        flex-direction: column
    }

    .profile-pic {
        height: 160px;
        width: 160px
    }
    .profile-fast-div {
        margin-bottom: 15px;
    }
    .check{
        display: none;
    }
}

@media screen and (max-width:605px) {
    .profile-lower{
        padding: 0px 3px;
    }
    .menus {
        height: 18px;
        width: 20px;
    }
    .profile-title h2 {
        font-size: 33px;
    }
}

@media screen and (max-width:510px) {
    .others{
        display: none;
    }
    .profile-end button {
        padding: 10px 10px;
        font-size: 14px;
    }
    .grids-flex div {
        padding: 10px 30px;
    }
    .profile-pic {
        height: 170px;
        width: 170px;
    }
    /* .cover-img {
        height: 35vh;
    } */
    .profile-post div button {
        padding: 8px 12px;
        font-size: 15px;
    }
}