.posting-flex {
    display: flex;
    align-items: center
}

.comment-img{
    cursor: pointer;
    width: 38px;
    height: 34px;
    margin-right: 10px;
    border-radius: 100%;
}
.comment-imgs{
    cursor: pointer;
    width: 48px;
    height: 37px;
    margin-right: 10px;
    border-radius: 100%;
}

.comment-flex{
    display: flex;
    margin: 10px 0px;
}

.comment-desc{
    border-radius: 8px;
    background-color: #f0f2f5;
    padding: 9px 9px;
    /* width: 100%; */
}

.comment-desc p{
    color: #353536;
}

.c-e{
    margin-left: 8%;
}

.comment-desc h3 a{
    font-size: 15px;
    color: #050505;
}

.post-top-flex {
    display: flex;
    align-items: center;
    justify-content: space-around
}

.post-section-input {
    width: 100%;
    border: none;
    height: 42px;
    box-sizing: border-box;
    border-radius: 37px;
    font-size: 15px;
    padding: 7px 20px 7px 20px;
    transition: width .4s ease-in-out;
    background-color: #f0f2f5;
    cursor: pointer
}

.thumb-down{
    font-size: 18px;
    margin-right: 2px;
}

.post-top-flex .btns {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #3277e6;
    color: #f0f8ff;
    padding: 12px 16px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    margin: 8px 0px;
    border: none;
    margin-left: 7px;
}

.post-top-flex .btns:hover{
    background-color: #4787ef;
}

.between {
    justify-content: space-between;
    padding: 0 10px;
    align-items: center
}

.desc {
    padding: 7px 5px
}

.top {
    padding: 10px 11px;
    width: 100%;
    background: #fff;
    border-radius: 10px 10px 0 0
}

.posting-img {
    cursor: pointer;
    width: 100%
}

.posting-flex h3{
    cursor: pointer;
    font-size: 16px;
    color: #050505
}

.comment-flex h3{
    cursor: pointer;
    font-size: 16px;
    color: #050505
}

.comment-flex h3:hover{
    text-decoration: underline;
}

.posting-flex h3:hover{
    text-decoration: underline;
}

.posting-flex p {
    color: #65676b;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

.posting-flex p:hover{
    text-decoration: underline;
}

.react {
    display: flex;
    align-items: center
}

.like {
    cursor: pointer;
    width: 20px;
    padding-right: 3px
}

.post-button {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fff
}

.react-div {
    padding: 10px 18px;
    width: 100%;
    color: #65676b;
    background: #fff;
    margin-top: -8px;
    border-radius: 0 0 10px 10px
}

.react-flex {
    display: flex
}

.react-flex span {
    cursor: pointer;
    color: #65676b
}

.react-flex span:hover{
    text-decoration: underline;
}

.full-posting {
    margin-bottom: 15px;
    background: #fff
}

.unlike{
    background: #ededed;
}

.likes {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/_hLaPv-1dFn.png?_nc_eui2=AeFLz0dFTJZlgW9QScMGRarPv1Ag-COABba_UCD4I4AFtplWoknvkN6AfZoAXNeUI-OfPZUj8xQpJaQoy2vsI3ip);
    background-position: 0 -201px;
    background-size: auto;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    display: inline-block
}

.comment {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/_hLaPv-1dFn.png?_nc_eui2=AeFLz0dFTJZlgW9QScMGRarPv1Ag-COABba_UCD4I4AFtplWoknvkN6AfZoAXNeUI-OfPZUj8xQpJaQoy2vsI3ip);
    background-position: 0 -163px;
    background-size: auto;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    display: inline-block
}

.share {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/_hLaPv-1dFn.png?_nc_eui2=AeFLz0dFTJZlgW9QScMGRarPv1Ag-COABba_UCD4I4AFtplWoknvkN6AfZoAXNeUI-OfPZUj8xQpJaQoy2vsI3ip);
    background-position: 0 -220px;
    background-size: auto;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    display: inline-block
}