
.errors{
    color: rgb(184, 0, 0);
}

.input-flex{
    display: flex;
}

.btn{
    cursor: pointer;
    background-color: #5893f1;
    color: aliceblue;
    width: 100%;
    padding: 15px 15px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    margin: 8px 0px;
    border: none;
}

.input {
    background: #f5f6f7;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 16px;
    padding: 12px;
    width: 187px;
    margin: 3px 5px;
    border: 1px solid #ccd0d5;
    color: #1d2129;
}

.input-long:focus, .input:focus{
    outline: 0;
    border-color: #edeaea;
    box-shadow: 0 0 0 2px #ccc9c9;
    caret-color: #d0d0d0
}

.input-long{
    background: #f5f6f7;
    width: 383px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    border: 1px solid #ccd0d5;
    font-size: 15px;
    line-height: 16px;
    padding: 12px;
    margin: 5px 6px;
}

.errors{
    display: block;
    text-align: left;    
    color: rgb(243, 67, 67);
    margin-left: 8px;
}

.label{
    margin-left: 8px;
}

.radio-div{
    margin-left: 7px;
    padding: 11px;
    margin-top: 3px;
    width: 190px;
    border: 1px solid rgb(215, 215, 215) ;
    border-radius: 3px;
}

.radio-div label{
    margin-right: 30px;
}

.form{
    margin-top: 5px;
}

.modal-content p{
    margin-top: 4px;
    margin-bottom: 5px;
    margin-left: 7px;
    color: #777;
    font-size: 12px;
}

.modal-button{
    text-align: center;
    margin: 15px 0px;
}

.modal-button button{
    min-width: 194px;
    cursor: pointer;
    background: none;
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    padding: 0 32px;
    text-shadow: none;
}

.modal-button button:hover{
    background: linear-gradient(#79bc64, #578843);
}

.modal-content h2{
    color: #1c1e21;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 0;
}

.modal,
.overlay {
    overflow: auto;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 5000
}

.overlay {
    background: rgba(49, 49, 49, .8)
}

.modal-content {
    position: absolute;
    z-index: 5000;
    overflow: auto;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #fff;
    padding: 10px 16px;
    border-radius: 3px;
    width: 435px;
    height: 555px
}

.line-modal{
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
}

@media screen and (max-width:480px) {
    .modal-content {
        width: 245px
    }
}