.navbar {
    background-color: #fff;
    /* height: 55px; */
    padding: 10px 15px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2)
}

.nav-img {
    cursor: pointer;
    width: 40px;
    height: 38px;
    margin-right: 10px;
    border-radius: 100%
}

.img:hover {
    opacity: .8
}

.nav-flex {
    display: flex;
    align-items: center;
    margin-right: 0px
}

.nav-flex input[type=text] {
    border: none;
    width: 255px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 37px;
    font-size: 16px;
    background-image: url(https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-2.png);
    background-size: 17px;
    background-position: 16px 11px;
    background-repeat: no-repeat;
    padding: 7px 20px 7px 40px;
    transition: width .4s ease-in-out;
    background-color: #f0f2f5
}

.nav-flex input[type=text]:focus {
    padding: 7px 20px 7px 22px;
    background-image: none;
    border: 1px solid #fcfdff;
    outline: 0
}

.icon {
    font-size: 27px
}

.color {
    color: #1877f2
}

.icon-div {
    cursor: pointer;
    padding: 9px 43px;
    border-radius: 10px
}

.icon-div:hover {
    background-color: #e1e6ee
}

.nav-flex-last {
    display: flex;
    align-items: center;
    padding-right: 10px
}

.icon-last {
    font-size: 22px;
    margin: 8px 10px
}

.icon-end {
    display: flex;
    align-items: center;
    background-color: #e6e7ea;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 8px
}

.icon-end:hover {
    background-color: #d3d3d3
}

.search-div {
    display: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #e6e7ea
}

.search-div:hover {
    background-color: #e6e7ea
}

.search-icon {
    font-size: 22px;
    margin: 8px 10px
}

.extra {
    margin-left: 60px
}

.menu-icon{
    display: none;
}

.extras{
    display: none;
}

.msg-i{
    font-size: 22px;
    margin: 8px 10px;
}

.dropdown {
    position: relative;
  }
  
  .menu {
    border: none;
    position: absolute;
    left: -20px;
    top: 40px;
    color: #fefcfc;
    right: 0px;
    background-color: #5fa4ff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    padding: 8px 10px;
    width: 90px;
  }

  .msg{
    display: none;
  }


@media screen and (max-width:1235px) {
    .nav-flex {
        margin-right: 0
    }
    .extra{
        margin-left: 30px;
    }

    .msg{
        display: none;
    }
}

@media screen and (max-width:1100px) {
    .nav-flex input[type=text] {
        display: none
    }

    .search-div {
        display: flex;
        align-items: center
    }

    .game-icon{
        display: none;
    }

    .menu-icon{
        display: flex;
    }
    .extra{
        display: none;
    }

    .extras{
        display: flex;
    }

    .msg{
        display: none;
    }
}

@media screen and (max-width:900px) {
    .nones{
        display: flex;
    }
    .middle-nav{
        display: none;
    }

    .msg{
        display: flex;
    }
    .none{
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .menu-icon{
        padding: 5px 15px;
    }
    .msg{
        display: flex;
    }
    .none{
        display: none;
    }
}






